/* Typography */

@font-face {
  font-family: pixel;
  src: url(./fonts/pixel.ttf);
}

h1, p {
  text-align: center;
  font-family: pixel;
  font-weight: bolder;
  color: aqua;
}

/* General Styling */
body {
  background-image: url(./images/mars-sky-night-background-asset-game-2d-futuristic-generative-ai.jpg);
  background-size: cover;
  display: grid;
  align-items: center;
  height: 100vh;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-family: pixel;
  font-size: 10rem;
  text-align: center;
  color:#fff;
  text-shadow:1px 1px 5px #fff, 1px 1px 10px #ccc;
}


/* Hover effect for cursor */
.square:hover {
  color: aqua;
}

.outer-box {
  
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  margin: 0 auto;
}


.restart {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.restart button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(10, 224, 224);
  color: black; 
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart button:hover {
  background-color: rgb(1, 184, 184);
  color: white;
}


.guess-box {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 10px;
}